.main-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative; 
}

.profile-img {
  width: 60px;
  border-radius: 50%;
}

.status {
  color: green;
}
