
.layout {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1; 
}

main {
  padding: 0; 
}

.aside {
  width: 250px;

}

.right-aside {
  width: 300px;
}

.posts {
   display: flex; 
   flex-direction: column; 
   gap: 25px; 
}

@media(max-width: 700px) {
  .aside, .right-aside {
    display: none; 
  }
}